#produitsTitle{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}
.primaryButton{
    display: flex;
    height: fit-content;
    align-items: center;
    background-color: var(--cButton);
    color: var(--cBackground);
    padding: 8px;
    border-radius: 5px;
    border:none;
}
.primaryButton h3{
    margin:0;
}
#produitsTitle div:first-child{
    background-color: var(--cDetail);
    padding:20px;
    border-radius: 100%;
}
#produitsTitle div:first-child{
    background-color: var(--cDetail);
    padding:20px;
    border-radius: 100%;
}
.title{
    display: flex;
    align-items: center;
}
section{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-right: 100px;
}
#searchForm{
    display: flex;
    align-items: center;
    gap:20px;

    input{
        width: 650px;
    }
}
#filterProductTypeSearch{
    font-size: 16px;
    font-family: var(--fMain);
    color: var(--cButton);
    border: solid 3px var(--cButton);
    border-radius: 5px;
    padding:9px;
    font-weight: bold;
}

/* --------------------Overlay---------------------- */

article{
    background-color: white;
    box-shadow: 0px 0px 10px rgb(0, 0, 0.5);
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    display: none;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding:20px;

    form{
        display: flex;
        flex-direction: column;
        width: 500px;
        gap:15px;
        div{
            display: flex;
            width: 100%;
            justify-content: space-between;
            div{
                display: flex;
                flex-direction: column;
                gap:10px;
            }
            div:not(#nomProduit){
                width: 45%;
            }
            #nomProduit{
                input{
                    width: 477px;
                }
            }
        }
        button{
            margin-top: auto;
            font-size: 24px;
            background-color: var(--cButton);
            border-radius: 5px;
            color: var(--cBackground);
            height: 38px;
            width: 45%;
        }
    }
}
.articleOn{
    display: flex;
}

/* --------------------Tableau---------------------- */

#tableContainer{
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
    font-family: var(--fMain);
    font-size: 16px;
}
table{
    width: 100%;
    border-collapse: collapse;
    border:solid 1px var(--cDetail);
    th{
        background-color: var(--cDetail2);
        padding:10px;
        height: fit-content;
    }
    td{
        border:solid 1px var(--cDetail);
        padding:10px;
        height: fit-content;
        text-align: center;
    }
    td:first-child{
        text-align: left;
    }

}
